@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>

<h3>Cocktails</h3>
@Html.ActionLink("Add cocktail", "Cocktails", "Admin");

<h3>Ingredients</h3>
@Html.ActionLink("Add ingredient", "Ingredients", "Admin");